header{
    text-align: center;
    border: 1px solid pink;
}

ul{
    list-style: none;
}

h1{
    font-size: 2rem;
    color: #143774;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: #1792D2;
    font-size: 0.75rem;
    font-weight: bold;
}

.title-0{
    border: 1px solid pink;
    border-spacing: 0;
}


nav ul{
    display: flex;
    border: 1px solid pink;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}

li{
    margin: 5px;
}

